.App {
  font-family: sans-serif;
  text-align: center;
}
.message {
  background-color: rgb(235, 180, 180);
  height: 30px;
  margin-top: 4px;
  list-style: none;
  padding-top: 8px;
  padding: 10px;
  width: fit-content;
  margin-left: 100px;
  border-radius: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input {
  width: 150px;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: green;
  border-bottom-style: dotted;
}
button {
  color: rgb(4, 4, 37);
  background-color: rgb(195, 180, 235);
  border: none;
  height: 30px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}
